.dashboard {
    margin: 0;
    padding: 0;

    .dashboard-header {
        position: fixed;
        z-index: 1000;
        width: 100%;
        padding-left: 200px;

        .logo {
            width: 200px;
            height: 64px;
            top: 0px;
            left: 0px;
            position: absolute;
            background-color: lighten(#001529, 8.5%);
            padding: 0 16px;

            img {
                height: 32px;
                margin-right: 16px;
                vertical-align: middle;
                border-style: none;
            }

            > span {
                font-size: 18px;
                line-height: 32px;
                color: #fff;
            }
        }

        .nav-link {
            line-height: 64px;
        }

        .ant-dropdown-link {
            float: right;
            line-height: 62px;
        }
    }

    .dashboard-content {
        position: relative;
        padding-top: 64px;
    }
}
