body {
  margin: 0;
  padding: 0;
  background: #f0f2f5;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App {
  padding: 0px;
}

html[fullscreen] {
  height: 100%;

  body, 
  #root, 
  #root > .App.ant-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
